<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >-->
<!--<mapper namespace="top.asshell.dao.ContractMapper">-->
<!--    <select id="getList" resultType="top.asshell.pojo.CarrierOrder">-->
<!--        select * from Contract-->
<!--        <where>-->
<!--            <if test="minDeliveryDate!=null">-->
<!--                and minDeliveryDate &gt; deliveryDate and deliveryDate &lt; maxDeliveryDate-->
<!--            </if>-->
<!--            <if test="minSigningDate!=null">-->
<!--                and minSigningDate &gt; signingDate and signingDate &lt; maxSigningDate-->
<!--            </if>-->
<!--            <if test="minApplyDate!=null">-->
<!--                and minApplyDate &gt; applyDate and applyDate &lt; maxApplyDate-->
<!--            </if>-->
<!--            <if test="minReviewDate!=null">-->
<!--                and minReviewDate &gt; reviewDate and reviewDate &lt; maxReviewDate-->
<!--            </if>-->
<!--            <if test="reviewStatus!=null">-->
<!--                and reviewStatus like "%"#{#reviewStatus}"%"-->
<!--            </if>-->
<!--            <if test="applyStatus!=null">-->
<!--                and applyStatus like "%"#{applyStatus}"%"-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->
<!--    -->

<!--</mapper>-->