<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.asshell.dao.DeviceInformationMapper">

    <select id="getList" resultType="top.asshell.pojo.DeviceInformation">
        select * from DeviceInformation
        <where>
            <if test="name!=null">
                and name like "%"#{name}"%"
            </if>
            <if test="code!=null">
                and name like "%"#{code}"%"
            </if>
            <if test="start!=null">
                and #{start} &gt; produceDate and produceDate &lt; #{end}
            </if>
            <if test="productBatch!=null">
                and name like "%"#{productBatch}"%"
            </if>
            <if test="manufacturer!=null">
                and name like "%"#{manufacturer}"%"
            </if>
            <if test="deviceStatus!=null">
                and name like "%"#{deviceStatus}"%"
            </if>
        </where>
    </select>

    <insert id="save">
        insert into DeviceInformation(name,
                                      code,
                                      model,
                                      produceDate,
                                      productBatch,
                                      manufacturer,
                                      deviceStatus,
                                      ps)
        values (#{name}, #{code}, #{model}, #{produceDate}, #{productBatch}, #{manufacturer}, #{deviceStatus}, #{ps})
    </insert>


    <delete id="remove">
        delete
        from DeviceInformation
        where id = #{id}
    </delete>

    <update id="update">
        update DeviceInformation
        set name=#{name},
            code=#{code},
            model=#{model},
            produceDate=#{produceDate},
            productBatch=#{productBatch},
            manufacturer=#{manufacturer},
            deviceStatus=#{deviceStatus},
            ps=#{ps}
        where id = #{id}
    </update>

</mapper>