<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.asshell.dao.EnergyEfficiencyMapper">
    <resultMap id="result" type="top.asshell.pojo.EnergyEfficiency">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="address" property="add"></result>
        <result column="power" property="power"></result>
        <result column="voltage" property="voltage"></result>
        <result column="status" property="status"></result>
        <result column="time" property="time"></result>
        <result column="ps" property="ps"></result>
    </resultMap>

    <select id="getList" resultMap="result">
        select * from energy_efficiency
        <where>
            <if test="name!=null">
                and name like "%"#{name}"%"
            </if>
            <if test="add!=null">
                and address like "%"#{add}"%"
            </if>
            <if test="status!=null">
                and status like "%"#{status}"%"
            </if>

        </where>
    </select>

    <insert id="save">
        insert into energy_efficiency(name,
                                      address,
                                      power,
                                      voltage,
                                      status,
                                      time,
                                      ps)
        values (#{name}, #{add}, #{power}, #{voltage}, #{status}, #{time}, #{ps})
    </insert>

    <update id="update">
        update energy_efficiency
        set name= #{name},
            address=#{add},
            power=#{power},
            voltage=#{voltage},
            status=#{status},
            time=#{time},
            ps=#{ps}
        where id = #{id}
    </update>

    <delete id="remove">
        delete
        from energy_efficiency
        where id = #{id}
    </delete>
</mapper>